.app {
	display: flex;
}

.geoInfo {
	position: absolute;
	right: 0;
	margin: 5px;
	display: flex;
	background-color: #dedede;
}

.geoInfo .error {
	color: red;
}

.geoInfo .positionInfo {
	display: flex;
	flex-direction: column;
}

.geoInfo .positionInfo .positionText {
	margin-left: auto;
}
